:root {
	--primary: #CD0F1E;
	--secondary: #FED550;
	--pri-gradient: linear-gradient(180deg, #CD0F1E 0%, #82131C 100%), #82131C;
	--sec-gradient: linear-gradient(270deg, #FFCB23 0%, #FED550 100%), #FED550;
}
body {
  margin: 0;
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: var(--secondary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}

button {
  background-color: var(--secondary);
  border: none;
  font-weight: 900;
  border-radius: 1rem;
  padding: .5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
